* 
{
	margin: 0;
	padding: 0;
}


body
  {
     background-color: #32143b;
	 font-family: "courier new";
	 color: white;
  }
#container
  {
     width: 1200px;
	 margin-left: auto;
	 margin-right: auto;
  }
a
  {
     text-decoration: none;
	 transition-duration:0.5s;
  }
#logo
  {
	 box-sizing:border-box;
     background-color: black;
	 color: red;
	 text-align: center;
	 padding: 50px;
	 font-size: 35px;
  }
.linki
  {
	 box-sizing: border-box;
     float: left;
	 text-align: center;
     width: 1200px;
     background-color: black;
	 padding: 20px;
	 font-size: 23px;
	 word-spacing:200px;
  }
#cos
  {
  clear:booth;
  }
#dół
  {
    box-sizing: border-box;
    clear: booth;
	width: 1200px;
	padding: 25px;
	background-color: black;
	text-align: center;
  }
.menu
  {
    color: white;
  } 
.menu:visited
  {
    color: white;
  } 
.menu:hover
   {
     color: red;
	 font-size:27px;
	 transition-duration:0.3s;
   }
#content
{
   weight: 980px;
   padding: 100px;
   background-color:white;
   text-align: center;
   color: black;
 
}
   
   
   
   
.pudełko
  {
     box-sizing: border-box;
     float: left;
     width: 260px;
	 height: 260px;
	 padding: 30px;	 
     background-color: #c5cae9;
	 margin: 20px;
	 text-align: center;
	 font-size:40px;
	 font-weight:700;
	 transition-duration:0.4s;
  }
.pudełko:hover
   {
      border: 30px solid #7986cb;
      background-color: #7986cb;
	  color:white;
	  padding: 0;
	  
   }
.linkpudełka
   {
	   color: -webkit-link;
   }




#kontakt
{
   weight: 980px;
   height:250px;
   padding: 100px;
   background-color:black;
   text-align: center;
 
}
.kontakty:hover
{
	color:#54ce3f;
}



/*NOWY Artykuł:
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8"/>
  <title>divy - test</title>
  <meta name="description" content="div"/>
  <meta name="keywords" content="www, html, css, strona, divy">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <div id="container">    
        <div id="logo"> <h1>TEKST</h1> </div>
		
		<div class="linki">
		<a class="menu" href="index.html">Artykuły</a>
		<a class="menu" href="kontakt.html">Kontakt</a>
		<a class="menu" href="#">Izformacje</a></div>
		<div id="cos"></div>
		<div id="content">
		<h1></h1>
		TU JEST TEKST
		
		</div>
		<div id="dół"> Wszelkie prawa zastrzeżone</div>
</body>
</html> 